body {
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-left: 0;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.shakir {
    color: orange;
}

.portfolio {
    overflow: hidden;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 100px;

}

.written {
    width: 46%;
    float: left;
    text-align: justify;
}

.photo img {
    width: 45%;
    height: 500px;
    float: right;
}

.profile {
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.about {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;

}

.written2 {
    width: 50%;
    float: right;
}

.photo2 img {
    width: 45%;
    height: 500px;
    float: left;
}

.cv {
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.experience {
    overflow: hidden;
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    text-align: justify;
    margin: 2% 5% 5% 5%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    border-left: 7px solid tomato;
}

#baby-dev {
    border-left: 7px solid blue;
}

footer {
    text-align: center;
}